.carousel-item-1::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

h3 {
    font-size: 22px;
}

.one-line {
    width: 100px;

    overflow: hidden;

}

@media screen and (max-width: 414px) {
    .slider-text {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    .siraj {
        display: none;

    }




}

@media screen and (max-width: 994px) {
    .siraj-btn {
        display: none;
    }
}

@media screen and (max-width: 995px) {
    .short-tex {
        display: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (min-width: 996px) {
    .see-more {
        display: none;

    }
}

@media screen and (max-width: 844px) {
    .d-md-none-reviews {
        display: none;
    }
}